
body{
			font-weight: bold;
			background-color: #000000;
			color:#FFFFFF;
		}
		table,tr,td{
			border-collapse: collapse;
			border-style: '1px solid #c2c2c2';
			font-family: Verdana;
		}
		#divisions{
			background-color: #c2c2c2;

		}
		#d_names{

		}